<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- MyBatis核心配置文件 -->
<configuration>
    <!-- 别名定义 -->
    <typeAliases>
        <package name="pers.huangyuhui.ssm.crud.bean"/>
    </typeAliases>
</configuration>